[submodule "server/cpp/websocketpp"]
	path = server/cpp/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "server/cpp/jwt-cpp"]
	path = server/cpp/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
